/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* TEST */
    /* border: 2px solid black; */
    color: black;
    font-weight: bolder;
}
/* COMMON */
body{
    font-family: 'Open Sans',sans-serif;
    /* TEST */
    background-color: saddlebrown;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/* HEADER */
header{
    height: 100px;
    width: 100%;
}    
.contenitore-header{
    color: red;
    height: 100%;
}
/* CARATTERISTICHE COLONNE HEADER */
.col{
    float: left;
}
.col-logo{
    width: 10%;
    background-color: white;
    height: 100%;
}
.col-menu-sx{
    width: 45%;
    background-color: white;
    height: 100%;
}
.col-menu-dx{
    width: 45%;
    background-color: white;
    height: 100%;
}
/* JUMBOTRON */
.contenitore-jumbo{
    width: 100%;
    height: 250px;
    background-color: blanchedalmond;
}
.col-trial{
    width: 50%;
    height: 200px;
    background-color: blueviolet;
}
.col-jumbo{
    width: 50%;
    height: 200px;
    background-color: brown;
}
/* MAIN */
.contenitore-main{
    width: 70%;
    margin: auto;
    height: 2000PX;
    background-color: salmon;
}
/* PIANO TARIFFARIO */
.col-piano{
    width: 100%;
    height: 700px;
    background-color: sandybrown;
}
.col-pro{
    width: 30%;
    height: 650px;
    background-color: chartreuse;
}
.col-std{
    width: 30%;
    height: 650px;
    background-color: chartreuse;
    margin: 0px 5%;
}.col-adv{
    width: 30%;
    height: 650px;
    background-color: chartreuse;
}
/* CONTATTI */
.col-contatti{
    width: 100%;
    height: 200px;
    background-color:cornflowerblue;
}
.col-enterprise{
    width: 70%;
    height: 150px;
    background-color: chocolate;
}
.col-contact-btn{
    width: 30%;
    height: 150px;
    background-color: chocolate;
}
/* SEZIONE BAIT */
.col-bait{
    width: 100%;
    height: 200px;
    background-color:cornflowerblue;
}
.col-img-bait{
    width: 50%;
    height: 180px;
    background-color: chocolate;
}
.col-text-bait{
    width: 50%;
    height: 180px;
    background-color: chocolate;
}
/* SEZIONE OPERAZIONI */
 .col-op-1{
     width:calc(100% / 3);
     height: 200px;
     background-color: darkcyan;
}.col-op-2{
    width: calc(100% / 3);
    height: 200px;
    background-color: darkcyan;
}.col-op-3{
    width: calc(100% / 3);
    height: 200px;
    background-color: darkcyan;
}
/* SEZIONE SPONSORS */
.contenitore-sponsor{
    width: 100%;
    height: 300px;
    background-color: blue;
}
.col-sponsor-sx{
    width: 30%;
    height: 300px;
    background-color: aquamarine;
}.col-sponsor-text{
    width: 40%;
    height: 300px;
    background-color: aquamarine;
}.col-sponsor-dx{
    width: 30%;
    height: 300px;
    background-color: aquamarine;
}
.col-sponsor-sinistra{
    width: 50%;
    height: 300px;
    background-color: blueviolet;
}
.col-sponsor-destra{
    width: 50%;
    height: 300px;
    background-color: crimson;
}
/* SEZIONE BUSINESS */
.contenitore-business{
    width: 100%;
    height: 300px;
    background-color: darkgreen;
}
.col-business-version{
    width: 50%;
    height: 270px;
    background-color: darkmagenta;
}
.col-business-btn{
    width: 50%;
    height: 270px;
    background-color: darkolivegreen;
}
/* FREQUENTLY QUESTION */
.contenitore-domande{
    width: 100%;
    height: 180px;
    background-color: yellow;
}
.col-question-sx{
    width: 90%;
    height: 30px;
    background-color: tomato;
}
.col-arrow{
    width: 10%;
    height: 30px;
    background-color: turquoise;
}
/* FOOTER */
footer{
    width: 100%;
    height: 300px;
    background-color: violet;
}
.link-list{
    width: 100%;
    height: 300px;
    background-color: red;
}
.col-lista{
    width: 20%;
    height: 300px;
    background-color: lime;
}